<div>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput type="text" placeholder="Country" [formControl]="search">
  </mat-form-field>
</div>

<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="list$ | async as list; else nosearch">
      <mat-list role="list" *ngIf="list.length; else noresults">
        <mat-list-item role="listitem" *ngFor="let item of list">
          {{item.name}}
        </mat-list-item>
      </mat-list>

      <ng-template #noresults>
        <p>Did not find any universities for this country :(</p>
      </ng-template>
    </ng-container>

    <ng-template #nosearch>
      <p>Type any valid country in a searchbox above</p>
    </ng-template>
  </mat-card-content>
</mat-card>
