<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>

    <form [formGroup]="pagination">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Page</mat-label>
          <mat-select formControlName="page">
            <mat-option *ngFor="let item of pages | async" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Page size</mat-label>
          <mat-select formControlName="size">
            <mat-option *ngFor="let item of sizes | async" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of list$ | async">{{item.title}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
